<html lang="en" style="direction: rtl; text-align: center;">
<div class="bankBorder">
    <div><img src='../assets/img/Asset36.png' width="100%"></div>
    <div class="title">
        <div style="margin-top: 10px;"><img src='../assets/icon/Asset18.png' width="100px"></div>
        <div>
            <p>פרטי חשבון בנק</p>
            <div class="underLine"></div>
        </div>
    </div>
    <div class="bank">
        <p style="font-size:30px; font-weight: 100;">פרטי הבנק שלי:</p>
        <input type="text" placeholder="שם בעל חשבון">
        <input type="text" placeholder="בנק">
        <input type="number" placeholder="סניף">
        <input type="text" placeholder="מספר חשבון">
        <div><img src='../assets/icon/Asset25.png' style=" margin-top: 10px;" width="180"></div>
    </div>
    <router-outlet></router-outlet>
</div>

</html>