<div><img src='../assets/img/Asset37.png' width="100%"></div>
<div class="title">
    <div><img class="icn" src='../assets/icon/Asset27.png'></div>
    <p style="margin-right: 38%; margin-top: 1px;">ביצוע תשלום עבור השכרת חניה</p>
    <div class="pas"></div>
</div>
<div class="pay">
    <p style="margin-right: 44%; margin-bottom: 20px; margin-top: 35px;">פרטי האשראי שלי:</p>
    <input class="inp" type="number" placeholder="מספר כרטיס">
    <input class="inp" type="number" placeholder="שם בעל הכרטיס">
    <input class="inp" type="number" placeholder="תוקף כרטיס">
    <input class="inp" type="number" placeholder="CVV">
    <div style="width: 100%;">
        <img src='../assets/icon/Asset26.png' style="margin-right: 47%; margin-top: 10px;" width="180">
    </div>
</div>
<router-outlet></router-outlet>

