<form>
    <div class="row">
        <div class="icn"><img src='../assets/icon/Asset41.png'></div>
        <div class="div1">
            <div><img src='../assets/icon/Asset7.png'>הכנס מיקום</div>
            <input type="text" placeholder="מיקומך הנוכחי">
        </div>
        <div class="div1">
            <div><img src='../assets/icon/Asset5.png'>הכנס שעה</div>
            <input type="time" placeholder="שעה נוכחית">
        </div>
        <div class="div1">
            <div><img src='../assets/icon/Asset4.png'>הכנס תאריך</div>
            <input type="date" placeholder="תאריך נוכחי">
        </div>
    </div>
    <br><br><br><br>
    <div class="line"></div>

    <div class="row">
        <div class="icn"><img src='../assets/icon/Asset40.png'></div>
        <div class="div1">
            <div><img src='../assets/icon/Asset5.png'>הכנס שעה</div>
            <input type="time" placeholder="עד 00:00">
        </div>
        <div class="div1">
            <div><img src='../assets/icon/Asset4.png'>הכנס תאריך</div>
            <input type="date" placeholder="היום">
        </div>
    </div>
    <br><br><br><br>


    <div class="row">
        <a routerLink="/nav/myMap"><img class="btnSearch" src='../assets/icon/Asset39.png'></a>
    </div>



</form>
<router-outlet></router-outlet>